body{
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
section{
    height:100vh;
    width:1100px;
    /* overflow: hidden; */
}


figure{
    position:relative;
    height:80%;
    margin:0;
    padding: 0;
}

figure .wrapper{
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    animation: movein 2s;

}

.home{
    overflow: hidden;
}

.right-side h1{
    font-size: 90px;
    margin:0;
    padding:0;
    line-height: 7.5vw;
    background: linear-gradient(to right, #DE9B07, #FFF212); /* Example gradient */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* For other browsers */
    font-family: poppins;
    
}

.right-side h5{
    padding:0;
    font-family: poppins;
    margin:1rem 0 0 0;
    font-size: 18px;
    font-style: italic;
    color:#000;
    font-size: 22px;
    font-weight: 550;
}

.right-side h5 span{
    color:white;
    background:#0047FF;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-style: italic;
}

.right-side h5 span:hover{
    background:white;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
    padding:0.5rem 1.5rem;
    border-radius: 30px;
    color: #0047FF;
}

.right-side .im{
    font-size: 35px;
    color: #000;
}

.wrapper .left-side{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left-side img{
    width:550px;
    height:auto;
    flex: 1;
}

.left-side img:hover{
    /* animation: moveImage 2s; */
}

.left-side span{
    font-size: 20px;
    font-style: italic;
    font-family: poppins;
    font-size: 22px;
    color:#000;
}

footer{
    color: #000;
    text-align:center;
    position:absolute;
    bottom: 4%;
    left:50%;
    transform:translateX(-50%)
}

.bg2{
    display: none;
}

/* .bg1{
    position:fixed;
    height:550px;
    width: 550px;
    background:linear-gradient(to right, #DE9B07, #FFF212);
    left:-15%;
    top:20%;
    z-index: -999;
    border-radius: 50%;
    filter: blur(180px);
} */

/* .bg2{
    position:fixed;
    height:550px;
    width: 350px;
    background:linear-gradient(to right, #DE9B07, #FFF212);
    right:0;
    bottom: 70%;
    z-index: -999;
    border-radius: 50%;
    filter: blur(180px);
} */

/* .bg1{
    position:fixed;
    height:550px;
    width: 550px;
    background:linear-gradient(to right, #DE9B07, #FFF212);
    left:-10%;
    top:60%;
    z-index: -999;
    border-radius: 50%;
    rotate: 180deg
}

.bg2{
    position:fixed;
    height:550px;
    width: 550px;
    background:linear-gradient(to right, #DE9B07, #FFF212);
    right:-10%;
    bottom:70%;
    z-index: -999;
    border-radius: 50%;
} */

@keyframes movein {
    from {
        top:150%;
        opacity:0;
    }
    to{
        top:45%;
        opacity:1;
    }
}

/* @keyframes moveImage{
    from{
        transform: translateX(-50%)
    }
    to{
        transform: translateX(50%)
    }
} */


/* Mobile Phone8*/
@media screen and (max-device-width: 480px) {
    section{
        width:320px;
    }

    figure .wrapper{
        display:block
    }

    .wrapper .right-side h1{
        font-size: 3rem;
        line-height: 4rem;
        font-family: poppins;
    }

    .right-side h5{
        font-size: 1.1rem;
        margin: 0.25rem 0 0 0;
    }
    .left-side img{
        display: none;
    }

    .home .bg1{
        position:fixed;
        height:400px;
        width: 400px;
        background:linear-gradient(to right, #efbf20, #FFF212);
        right:-50%;
        top:-10%;
        z-index: -999;
        border-radius: 50%;
        filter: blur(100px);       
    }

    .bg2{
        width:20em;
        display: block;
        position:fixed;
        bottom:0;
        right:-30%;
        z-index:-1
    }
}

/* Tablet Mode*/
@media screen and (min-width: 500px) and (max-width: 1128px) {
    section{
        width:700px;
    }

    .right-side h1{
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .left-side img{
        width: 350px;
    }

    .right-side h5{
        font-size: 1rem;
    }
}