header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: poppins;
   padding:1.5rem 0 0 0;
   animation: slidein 2s;
}

header img{
   width:30px;
   cursor:pointer;
   transition: 0.5s ease-in
}

header img:hover{
   transform: rotate(360deg);
}

header ul{
   display:flex;
   list-style-type: none;
   gap: 55px;
   margin:0;
   padding:0;
}

header ul li{
   cursor:pointer;
   color: #DE9B07;
   position:relative;
   font-size: 18px;

}

header .hamburger{
   display: none;
}

header ul li::before{
   content:"";
   width: 0;
   height: 2px;
   background:#DE9B07;
   position: absolute;
   bottom: 0;
   transition:0.5s;
}

header ul li:hover::before{
   width:100%;
}

header h4{
   background:white;
   box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
   padding:0.5rem 1.5rem;
   border-radius: 30px;
   color: #0047FF;
   cursor: pointer;
   transition: 0.3s;
}

header h4:hover{
   color: #fff;
   background:#0047FF
}

@keyframes slidein {
   from{
      transform:translateY(-100%);
      opacity:0;
   }
   to{
      transform:translateY(0);
      opacity:1;
   }
}

@keyframes rotateLogo {
   from{
      transform: rotate(360deg);
   }
}


/* Mobile Phone Mode*/
@media screen and (max-device-width: 480px) {
   header{
      position: relative;
   }
   header img{
      width:35px;
   }
   header ul{
      display:inline-block;
      background:#DE9B07;
      height: 100%;
      position: fixed;
      top:0;
      right:-100%;
      width:200px;
      padding:4.5rem 0.8rem;
      display: block;
      transition: 0.5s;
      z-index: 2;
   }

   .show-nav{
      right:0;
   }
   
   header ul li{
      color:white;
      padding:0.6rem 0;
      text-align: left;
   }

   header .hamburger{
      display: block;
      height:5px;
      width:30px;
      float:left;
      position:relative;
      cursor: pointer;
      z-index: 1000;
   }
   
   header h4{
      position:absolute;
      right:0;
      margin: 3.5rem 0 0 0;
      z-index: 1;
   }
   
}